
<h1>New User</h1>
<input
      type="hidden"
      name="authenticity_token"
      value="5CavwqPv5rn3K+nJsUX4jrMsZN20JdlSQG09kgJivkg=">

<form action="<%= users_url %>" method="post">
  <label for="user_name">User Name</label>
  <input
    type="text"
    name="user[user_name]"
    id="user_name" >

  <label for="password">Password</label>
  <input
    type="text"
    name="user[password]"
    id="password" >

  <input type="submit">

  </form>
